In [1]:
import pandas as pd


from settings import INTERIM

In [6]:
master = pd.read_pickle(INTERIM / 'master.pkl')
team_splits = pd.read_pickle(INTERIM / 'teams_splits_multi_index.pkl')

In [7]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [8]:
master['birthDate'] = pd.to_datetime(arg={
    'year': master.birthYear,
    'month': master.birthMon,
    'day': master.birthDay,
})

In [9]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville,1958-04-15

In [10]:
master.drop(columns=['birthYear', 'birthMon', 'birthDay'], inplace=True)
master.head()

,firstName,lastName,pos,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,
aaltoan01,Antti,Aalto,C,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,Canada,ON,Stouffville,1958-04-15

In [11]:
ts = master.iloc[0, -1]
ts

Timestamp('1975-03-04 00:00:00')

In [12]:
ts.day_name()

'Tuesday'

In [13]:
ts.day

4

In [14]:
ts.month_name()

'March'

In [15]:
ts.year

1975

In [17]:
tsz = ts.tz_localize('America/Toronto')
tsz

Timestamp('1975-03-04 00:00:00-0500', tz='America/Toronto')

In [18]:
tsz.tz_convert('Europe/London')

Timestamp('1975-03-04 05:00:00+0000', tz='Europe/London')

In [22]:
master['birthDate'].dt.strftime('%Y-%m-%d')

playerID
aaltoan01    1975-03-04
abdelju01    1987-02-25
abidra01     1980-03-24
abrahth01    1947-04-12
actonke01    1958-04-15
                ...
zubruda01    1978-06-16
zuccama01    1987-09-01
zuckeja01    1992-01-16
zukemi01     1954-04-16
zyuzian01    1978-01-21
Name: birthDate, Length: 4627, dtype: object

In [19]:
master['lastName'].str.upper()

playerID
aaltoan01          AALTO
abdelju01     ABDELKADER
abidra01            ABID
abrahth01    ABRAHAMSSON
actonke01          ACTON
                ...
zubruda01         ZUBRUS
zuccama01     ZUCCARELLO
zuckeja01         ZUCKER
zukemi01            ZUKE
zyuzian01         ZYUZIN
Name: lastName, Length: 4627, dtype: object

In [23]:
strings = master['birthDate'].dt.strftime('%Y-%m-%d')

In [24]:
dates = pd.to_datetime(strings)
dates.head()

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
Name: birthDate, dtype: datetime64[ns]

In [25]:
strings = strings.str.replace('-', 'xx')
strings.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [26]:
pd.to_datetime(strings)

/tmp/ipykernel_12917/2181269185.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(strings)

DateParseError: Unknown datetime string format, unable to parse: 1975xx03xx04, at position 0

In [27]:
pd.to_datetime(strings, format='%Yxx%mxx%d')

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
               ...
zubruda01   1978-06-16
zuccama01   1987-09-01
zuckeja01   1992-01-16
zukemi01    1954-04-16
zyuzian01   1978-01-21
Name: birthDate, Length: 4627, dtype: datetime64[ns]

In [28]:
strings_errors = strings.copy()
strings_errors.iloc[34] = 'xx123'

In [29]:
strings_errors.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [30]:
pd.to_datetime(strings_errors, format='%Yxx%mxx%d')

ValueError: time data "xx123" doesn't match format "%Yxx%mxx%d", at position 34. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [31]:
pd.to_datetime(strings_errors, format='mixed')

DateParseError: Unknown datetime string format, unable to parse: 1975xx03xx04, at position 0

In [36]:
strings_errors.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [32]:
parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='coerce')
parsed.iloc[34]

NaT

In [37]:
parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='ignore')
parsed.iloc[32:40]

/tmp/ipykernel_12917/3065392550.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='ignore')

playerID
alleyst01    1953xx12xx29
allisda01    1959xx04xx14
allisja01           xx123
allisja02    1975xx05xx13
allismi01    1961xx03xx28
allisra01    1959xx03xx04
almonco01    1989xx07xx24
alzneka01    1988xx09xx24
Name: birthDate, dtype: object

In [34]:
pd.__version__

'2.2.3'

In [40]:
birth_dates = pd.Series(master.index, index=master.birthDate)
birth_dates.head()

birthDate
1975-03-04    aaltoan01
1987-02-25    abdelju01
1980-03-24     abidra01
1947-04-12    abrahth01
1958-04-15    actonke01
Name: playerID, dtype: object

In [41]:
birth_dates.sort_index(inplace=True)

In [42]:
birth_dates.head()

birthDate
1940-01-27    harpete01
1940-03-22     keonda01
1940-10-03    ratelje01
1942-02-20    esposph01
1943-04-23    esposto01
Name: playerID, dtype: object

In [44]:
birth_dates.loc['1980']

birthDate
1980-01-02    zalesmi01
1980-01-10    stanara01
1980-01-13    bouckty01
1980-01-13     ruppmi01
1980-01-15    papinju01
                ...
1980-11-24    fritzmi01
1980-11-25    lilesjo01
1980-12-02     wardjo02
1980-12-09    baydary01
1980-12-30    lysakbr01
Name: playerID, Length: 145, dtype: object

In [46]:
birth_dates.loc['1980-07-24']

birthDate
1980-07-24    jillsje01
1980-07-24    printda01
Name: playerID, dtype: object

In [47]:
birth_dates.loc['1980-07-24':'1980-07-29']

birthDate
1980-07-24    jillsje01
1980-07-24    printda01
Name: playerID, dtype: object