In [1]:
import pandas as pd


from settings import INTERIM

In [6]:
master = pd.read_pickle(INTERIM / 'master.pkl')
team_splits = pd.read_pickle(INTERIM / 'teams_splits_multi_index.pkl')

In [7]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [8]:
master['birthDate'] = pd.to_datetime(arg={
    'year': master.birthYear,
    'month': master.birthMon,
    'day': master.birthDay,
})

In [9]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville,1958-04-15

In [10]:
master.drop(columns=['birthYear', 'birthMon', 'birthDay'], inplace=True)
master.head()

,firstName,lastName,pos,birthCountry,birthState,birthCity,birthDate
playerID,,,,,,,
aaltoan01,Antti,Aalto,C,Finland,NaN,Lappeenranta,1975-03-04
abdelju01,Justin,Abdelkader,L,USA,MI,Muskegon,1987-02-25
abidra01,Ramzi,Abid,L,Canada,QC,Montreal,1980-03-24
abrahth01,Thommy,Abrahamsson,D,Sweden,NaN,Leksand,1947-04-12
actonke01,Keith,Acton,C,Canada,ON,Stouffville,1958-04-15

In [11]:
ts = master.iloc[0, -1]
ts

Timestamp('1975-03-04 00:00:00')

In [12]:
ts.day_name()

'Tuesday'

In [13]:
ts.day

4

In [14]:
ts.month_name()

'March'

In [15]:
ts.year

1975

In [17]:
tsz = ts.tz_localize('America/Toronto')
tsz

Timestamp('1975-03-04 00:00:00-0500', tz='America/Toronto')

In [18]:
tsz.tz_convert('Europe/London')

Timestamp('1975-03-04 05:00:00+0000', tz='Europe/London')

In [22]:
master['birthDate'].dt.strftime('%Y-%m-%d')

playerID
aaltoan01    1975-03-04
abdelju01    1987-02-25
abidra01     1980-03-24
abrahth01    1947-04-12
actonke01    1958-04-15
                ...
zubruda01    1978-06-16
zuccama01    1987-09-01
zuckeja01    1992-01-16
zukemi01     1954-04-16
zyuzian01    1978-01-21
Name: birthDate, Length: 4627, dtype: object

In [19]:
master['lastName'].str.upper()

playerID
aaltoan01          AALTO
abdelju01     ABDELKADER
abidra01            ABID
abrahth01    ABRAHAMSSON
actonke01          ACTON
                ...
zubruda01         ZUBRUS
zuccama01     ZUCCARELLO
zuckeja01         ZUCKER
zukemi01            ZUKE
zyuzian01         ZYUZIN
Name: lastName, Length: 4627, dtype: object

In [23]:
strings = master['birthDate'].dt.strftime('%Y-%m-%d')

In [24]:
dates = pd.to_datetime(strings)
dates.head()

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
Name: birthDate, dtype: datetime64[ns]

In [25]:
strings = strings.str.replace('-', 'xx')
strings.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [26]:
pd.to_datetime(strings)

/tmp/ipykernel_12917/2181269185.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(strings)

DateParseError: Unknown datetime string format, unable to parse: 1975xx03xx04, at position 0

In [27]:
pd.to_datetime(strings, format='%Yxx%mxx%d')

playerID
aaltoan01   1975-03-04
abdelju01   1987-02-25
abidra01    1980-03-24
abrahth01   1947-04-12
actonke01   1958-04-15
               ...
zubruda01   1978-06-16
zuccama01   1987-09-01
zuckeja01   1992-01-16
zukemi01    1954-04-16
zyuzian01   1978-01-21
Name: birthDate, Length: 4627, dtype: datetime64[ns]

In [28]:
strings_errors = strings.copy()
strings_errors.iloc[34] = 'xx123'

In [29]:
strings_errors.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [30]:
pd.to_datetime(strings_errors, format='%Yxx%mxx%d')

ValueError: time data "xx123" doesn't match format "%Yxx%mxx%d", at position 34. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [31]:
pd.to_datetime(strings_errors, format='mixed')

DateParseError: Unknown datetime string format, unable to parse: 1975xx03xx04, at position 0

In [36]:
strings_errors.head()

playerID
aaltoan01    1975xx03xx04
abdelju01    1987xx02xx25
abidra01     1980xx03xx24
abrahth01    1947xx04xx12
actonke01    1958xx04xx15
Name: birthDate, dtype: object

In [32]:
parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='coerce')
parsed.iloc[34]

NaT

In [37]:
parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='ignore')
parsed.iloc[32:40]

/tmp/ipykernel_12917/3065392550.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  parsed = pd.to_datetime(strings_errors, format='%Yxx%mxx%d', errors='ignore')

playerID
alleyst01    1953xx12xx29
allisda01    1959xx04xx14
allisja01           xx123
allisja02    1975xx05xx13
allismi01    1961xx03xx28
allisra01    1959xx03xx04
almonco01    1989xx07xx24
alzneka01    1988xx09xx24
Name: birthDate, dtype: object

In [34]:
pd.__version__

'2.2.3'

In [40]:
birth_dates = pd.Series(master.index, index=master.birthDate)
birth_dates.head()

birthDate
1975-03-04    aaltoan01
1987-02-25    abdelju01
1980-03-24     abidra01
1947-04-12    abrahth01
1958-04-15    actonke01
Name: playerID, dtype: object

In [41]:
birth_dates.sort_index(inplace=True)

In [42]:
birth_dates.head()

birthDate
1940-01-27    harpete01
1940-03-22     keonda01
1940-10-03    ratelje01
1942-02-20    esposph01
1943-04-23    esposto01
Name: playerID, dtype: object

In [44]:
birth_dates.loc['1980']

birthDate
1980-01-02    zalesmi01
1980-01-10    stanara01
1980-01-13    bouckty01
1980-01-13     ruppmi01
1980-01-15    papinju01
                ...
1980-11-24    fritzmi01
1980-11-25    lilesjo01
1980-12-02     wardjo02
1980-12-09    baydary01
1980-12-30    lysakbr01
Name: playerID, Length: 145, dtype: object

In [46]:
birth_dates.loc['1980-07-24']

birthDate
1980-07-24    jillsje01
1980-07-24    printda01
Name: playerID, dtype: object

In [47]:
birth_dates.loc['1980-07-24':'1980-07-29']

birthDate
1980-07-24    jillsje01
1980-07-24    printda01
Name: playerID, dtype: object

In [48]:
birth_dates.head()

birthDate
1940-01-27    harpete01
1940-03-22     keonda01
1940-10-03    ratelje01
1942-02-20    esposph01
1943-04-23    esposto01
Name: playerID, dtype: object

In [49]:
birth_dates.resample('1ME')

In [50]:
birth_dates.resample('1ME').count().head()

birthDate
1940-01-31    1
1940-02-29    0
1940-03-31    1
1940-04-30    0
1940-05-31    0
Freq: ME, Name: playerID, dtype: int64

In [51]:
birth_dates.resample('1QS').count().head()

birthDate
1940-01-01    2
1940-04-01    0
1940-07-01    0
1940-10-01    1
1941-01-01    0
Freq: QS-JAN, Name: playerID, dtype: int64

In [52]:
birth_dates.resample('1W').count().head()

birthDate
1940-01-28    1
1940-02-04    0
1940-02-11    0
1940-02-18    0
1940-02-25    0
Freq: W-SUN, Name: playerID, dtype: int64

In [53]:
birth_dates.shift(1, freq='D')

birthDate
1940-01-28    harpete01
1940-03-23     keonda01
1940-10-04    ratelje01
1942-02-21    esposph01
1943-04-24    esposto01
                ...
1992-11-24    landega01
1992-12-08    coutuse01
1993-03-16    scheima01
1993-04-13    nugenry01
1993-04-19    zibanmi01
Name: playerID, Length: 4627, dtype: object

In [54]:
team_splits.head()

                             W    L    T  OL
name          year months
Boston Bruins 1980 Sep     NaN  NaN  NaN NaN
                   Oct     2.0  7.0  1.0 NaN
                   Nov     5.0  3.0  5.0 NaN
                   Dec     6.0  6.0  1.0 NaN
                   Jan     9.0  4.0  1.0 NaN

In [55]:
pd.Period('1980-Sep')

Period('1980-09', 'M')

In [56]:
team_splits.index.levels[1] * 2

Index([3960, 3962, 3964, 3966, 3968, 3970, 3972, 3974, 3976, 3978, 3980, 3982,
       3984, 3986, 3988, 3990, 3992, 3994, 3996, 3998, 4000, 4002, 4004, 4006,
       4010, 4012, 4014, 4016, 4018, 4020, 4022],
      dtype='int64', name='year')

In [58]:
team_splits.head(2).apply(lambda x:print(x), axis=1)

W    NaN
L    NaN
T    NaN
OL   NaN
Name: (Boston Bruins, 1980, Sep), dtype: float64
W     2.0
L     7.0
T     1.0
OL    NaN
Name: (Boston Bruins, 1980, Oct), dtype: float64

name           year  months
Boston Bruins  1980  Sep       None
                     Oct       None
dtype: object

In [59]:
team_splits = team_splits.reset_index()
team_splits.head()

            name  year months    W    L    T  OL
0  Boston Bruins  1980    Sep  NaN  NaN  NaN NaN
1  Boston Bruins  1980    Oct  2.0  7.0  1.0 NaN
2  Boston Bruins  1980    Nov  5.0  3.0  5.0 NaN
3  Boston Bruins  1980    Dec  6.0  6.0  1.0 NaN
4  Boston Bruins  1980    Jan  9.0  4.0  1.0 NaN

In [62]:
dates = team_splits.apply(lambda row: pd.Period(f'{row.year}-{row.months}'), axis=1)

In [63]:
dates.head()

0    1980-09
1    1980-10
2    1980-11
3    1980-12
4    1980-01
dtype: period[M]

In [66]:
team_splits = team_splits.assign(month=dates)

In [67]:
team_splits.columns

Index(['name', 'year', 'months', 'W', 'L', 'T', 'OL', 'month'], dtype='object')

In [68]:
team_splits.drop('year', axis=1, inplace=True)

In [69]:
team_splits.set_index('month', inplace=True)

In [71]:
team_splits.drop('months', axis=1, inplace=True)

In [72]:
team_splits.head()

                  name    W    L    T  OL
month
1980-09  Boston Bruins  NaN  NaN  NaN NaN
1980-10  Boston Bruins  2.0  7.0  1.0 NaN
1980-11  Boston Bruins  5.0  3.0  5.0 NaN
1980-12  Boston Bruins  6.0  6.0  1.0 NaN
1980-01  Boston Bruins  9.0  4.0  1.0 NaN

In [76]:
team_splits.index = team_splits.index.to_timestamp()

In [77]:
team_splits.head()

                     name    W    L    T  OL
month
1980-09-01  Boston Bruins  NaN  NaN  NaN NaN
1980-10-01  Boston Bruins  2.0  7.0  1.0 NaN
1980-11-01  Boston Bruins  5.0  3.0  5.0 NaN
1980-12-01  Boston Bruins  6.0  6.0  1.0 NaN
1980-01-01  Boston Bruins  9.0  4.0  1.0 NaN

In [79]:
team_splits.groupby('name')[['W', 'L', 'T', 'OL']].resample('QE').sum()

                             W     L    T   OL
name          month
Anaheim Ducks 2006-03-31  19.0  13.0  0.0  6.0
              2006-06-30   1.0   0.0  0.0  2.0
              2006-09-30   0.0   0.0  0.0  0.0
              2006-12-31  28.0   7.0  0.0  6.0
              2007-03-31  26.0  10.0  0.0  3.0
...                        ...   ...  ...  ...
Winnipeg Jets 2010-12-31   0.0   0.0  0.0  0.0
              2011-03-31  17.0  20.0  0.0  4.0
              2011-06-30   1.0   1.0  0.0  1.0
              2011-09-30   0.0   0.0  0.0  0.0
              2011-12-31  19.0  14.0  0.0  5.0

[3348 rows x 4 columns]

In [80]:
team_splits.groupby('name')[['W', 'L', 'T', 'OL']].resample('QE').mean()

                                 W         L   T        OL
name          month
Anaheim Ducks 2006-03-31  6.333333  4.333333 NaN  2.000000
              2006-06-30  1.000000  0.000000 NaN  2.000000
              2006-09-30       NaN       NaN NaN       NaN
              2006-12-31  9.333333  2.333333 NaN  2.000000
              2007-03-31  8.666667  3.333333 NaN  1.000000
...                            ...       ...  ..       ...
Winnipeg Jets 2010-12-31       NaN       NaN NaN       NaN
              2011-03-31  5.666667  6.666667 NaN  1.333333
              2011-06-30  1.000000  1.000000 NaN  1.000000
              2011-09-30       NaN       NaN NaN       NaN
              2011-12-31  6.333333  4.666667 NaN  1.666667

[3348 rows x 4 columns]

In [81]:
team_splits.groupby('name').resample('QE').mean()

                                 W         L   T        OL
name          month
Anaheim Ducks 2006-03-31  6.333333  4.333333 NaN  2.000000
              2006-06-30  1.000000  0.000000 NaN  2.000000
              2006-09-30       NaN       NaN NaN       NaN
              2006-12-31  9.333333  2.333333 NaN  2.000000
              2007-03-31  8.666667  3.333333 NaN  1.000000
...                            ...       ...  ..       ...
Winnipeg Jets 2010-12-31       NaN       NaN NaN       NaN
              2011-03-31  5.666667  6.666667 NaN  1.333333
              2011-06-30  1.000000  1.000000 NaN  1.000000
              2011-09-30       NaN       NaN NaN       NaN
              2011-12-31  6.333333  4.666667 NaN  1.666667

[3348 rows x 4 columns]

In [82]:
team_splits.describe()

                 W            L            T           OL
count  5435.000000  5435.000000  3963.000000  2508.000000
mean      5.296412     4.804968     1.524603     1.064992
std       2.535993     2.444273     1.242479     1.091799
min       0.000000     0.000000     0.000000     0.000000
25%       3.000000     3.000000     1.000000     0.000000
50%       5.000000     5.000000     1.000000     1.000000
75%       7.000000     6.000000     2.000000     2.000000
max      13.000000    14.000000     8.000000     6.000000

In [83]:
team_splits.to_pickle(INTERIM / 'team_splits_date_index.pkl')

In [84]:
birth_dates.to_pickle(INTERIM / 'birth_dates.pkl')