In [1]:
import pandas as pd
import numpy as np
from helpers.mem import memory_mib

from set_paths import RA, INTER

In [2]:
master = pd.read_pickle(INTER / "master_2.pkl")
scoring = pd.read_pickle(INTER / "scoring_2.pkl")
teams = pd.read_pickle(INTER / "teams_2.pkl")
team_splits = pd.read_pickle(INTER / "team_splits_2.pkl")

In [3]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [18]:
master.shape

(4627, 9)

In [4]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG  pos
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [17]:
scoring.shape

(28616, 9)

In [5]:
pd.merge(master, scoring, left_index=True, right_on='playerID').head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y
0,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
1,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
2,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
4,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [6]:
scoring.index

RangeIndex(start=0, stop=28616, step=1)

In [7]:
scoring.index + 3

RangeIndex(start=3, stop=28619, step=1)

In [8]:
scoring.index = scoring.index + 3

In [9]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG  pos
3  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
4  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
5  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
6  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [10]:
pd.merge(master, scoring, left_index=True, right_on='playerID').head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
4,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
5,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
6,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
7,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [11]:
pd.merge(master, scoring.set_index('playerID', drop=True), left_index=True, right_index=True).head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,year,tmID,GP,G,A,Pts,SOG,pos_y
playerID,,,,,,,,,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [12]:
scoring.index

RangeIndex(start=3, stop=28619, step=1)

In [13]:
scoring.reset_index(drop=True, inplace=True)

In [15]:
pd.merge(master, scoring, left_index=True, right_on='playerID').shape

(28616, 18)

In [16]:
pd.merge(master, scoring, left_index=True, right_on='playerID', how='right').shape

(28616, 18)

In [19]:
master.sample(5).index

Index(['godarer01', 'johantr01', 'nickuer01', 'schnema01', 'trottbr01'], dtype='object', name='playerID')

In [20]:
master_2 = master.drop(master.sample(5).index)

In [21]:
master_2.shape

(4622, 9)

In [22]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='inner').shape

(28604, 18)

In [23]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='right').shape

(28616, 18)