In [2]:
import pandas as pd
import numpy as np
from helpers.mem import memory_mib

from set_paths import RA, INTER

In [49]:
master = pd.read_pickle(INTER / "master_2.pkl")
scoring = pd.read_pickle(INTER / "scoring_2.pkl")
teams = pd.read_pickle(INTER / "teams_2.pkl")
team_splits = pd.read_pickle(INTER / "team_splits_2.pkl")

In [4]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [5]:
master.shape

(4627, 9)

In [6]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG  pos
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [7]:
scoring.shape

(28616, 9)

In [8]:
pd.merge(master, scoring, left_index=True, right_on='playerID').head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y
0,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
1,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
2,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
4,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [9]:
scoring.index

RangeIndex(start=0, stop=28616, step=1)

In [10]:
scoring.index + 3

RangeIndex(start=3, stop=28619, step=1)

In [11]:
scoring.index = scoring.index + 3

In [12]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG  pos
3  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
4  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
5  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
6  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [13]:
pd.merge(master, scoring, left_index=True, right_on='playerID').head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
4,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
5,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
6,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
7,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [14]:
pd.merge(master, scoring.set_index('playerID', drop=True), left_index=True, right_index=True).head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,year,tmID,GP,G,A,Pts,SOG,pos_y
playerID,,,,,,,,,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [15]:
scoring.index

RangeIndex(start=3, stop=28619, step=1)

In [16]:
scoring.reset_index(drop=True, inplace=True)

In [17]:
pd.merge(master, scoring, left_index=True, right_on='playerID').shape

(28616, 18)

In [18]:
pd.merge(master, scoring, left_index=True, right_on='playerID', how='right').shape

(28616, 18)

In [19]:
master.sample(5).index

Index(['sweendo01', 'sloanty01', 'zettehe01', 'bourdma01', 'saleiru01'], dtype='object', name='playerID')

In [20]:
master_2 = master.drop(master.sample(5).index)

In [21]:
master_2.shape

(4622, 9)

In [22]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='inner').shape

(28593, 18)

In [23]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='right').shape

(28616, 18)

In [24]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='right', indicator=True)

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y,_merge
0,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA,both
1,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA,both
2,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA,both
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA,both
4,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28611,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,zyuzian01,2002,MIN,66.0,4.0,12.0,16.0,113.0,MIN,both
28612,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,zyuzian01,2003,MIN,65.0,8.0,13.0,21.0,104.0,MIN,both
28613,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,zyuzian01,2005,MIN,57.0,7.0,11.0,18.0,80.0,MIN,both
28614,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,zyuzian01,2006,CAL,49.0,1.0,5.0,6.0,36.0,CAL,both
28615,Andrei,Zyuzin,D,1978.0,1.0,21.0,Russia,NaN,Ufa,zyuzian01,2007,CHI,32.0,2.0,3.0,5.0,34.0,CHI,both

In [25]:
pd.merge(master_2, scoring, left_index=True, right_on='playerID', how='right', indicator=True)['_merge'].value_counts()

_merge
both          28593
right_only       23
left_only         0
Name: count, dtype: int64

In [27]:
merged = pd.merge(master, scoring, left_index=True, right_on='playerID', how='inner')

In [28]:
merged.head()

,firstName,lastName,pos_x,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity,playerID,year,tmID,GP,G,A,Pts,SOG,pos_y
0,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0,ANA
1,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0,ANA
2,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0,ANA
3,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0,ANA
4,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0,DET

In [29]:
merged.columns

Index(['firstName', 'lastName', 'pos_x', 'birthYear', 'birthMon', 'birthDay',
       'birthCountry', 'birthState', 'birthCity', 'playerID', 'year', 'tmID',
       'GP', 'G', 'A', 'Pts', 'SOG', 'pos_y'],
      dtype='object')

In [30]:
merged = merged.filter(regex='^(?!(birth)).*')

In [31]:
merged.columns

Index(['firstName', 'lastName', 'pos_x', 'playerID', 'year', 'tmID', 'GP', 'G',
       'A', 'Pts', 'SOG', 'pos_y'],
      dtype='object')

In [32]:
merged.to_pickle(INTER / "master_score_2.pkl")

---

In [51]:
teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
727,1980,NHL,BOS,BOS,WA,AD,2,PRE,80,37,...,272,Boston Bruins,1836.0,26.0,87.0,342.0,8.0,82.0,358.0,13.0
728,1980,NHL,BUF,BUF,WA,AD,1,QF,80,39,...,250,Buffalo Sabres,1194.0,22.0,73.0,310.0,10.0,44.0,268.0,9.0
729,1980,NHL,CAL,CAL,CC,PT,3,SF,80,39,...,298,Calgary Flames,1450.0,24.0,81.0,301.0,12.0,70.0,364.0,8.0
730,1980,NHL,CHI,CHI,CC,SM,2,PRE,80,31,...,315,Chicago Black Hawks,1660.0,30.0,67.0,302.0,9.0,91.0,364.0,8.0
731,1980,NHL,COR,NJD,CC,SM,5,NaN,80,22,...,344,Colorado Rockies,1418.0,36.0,76.0,373.0,8.0,70.0,286.0,5.0

In [52]:
team_splits.head()

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
727,1980,BOS,NaN,NaN,NaN,NaN,2.0,7.0,1.0,NaN,...,2.0,NaN,8.0,4.0,3.0,NaN,1.0,2.0,0.0,NaN
728,1980,BUF,NaN,NaN,NaN,NaN,5.0,2.0,2.0,NaN,...,3.0,NaN,8.0,6.0,1.0,NaN,1.0,1.0,1.0,NaN
729,1980,CAL,NaN,NaN,NaN,NaN,5.0,4.0,2.0,NaN,...,1.0,NaN,6.0,6.0,2.0,NaN,2.0,0.0,0.0,NaN
730,1980,CHI,NaN,NaN,NaN,NaN,6.0,4.0,2.0,NaN,...,4.0,NaN,4.0,5.0,4.0,NaN,1.0,1.0,1.0,NaN
731,1980,COR,NaN,NaN,NaN,NaN,4.0,4.0,2.0,NaN,...,2.0,NaN,4.0,9.0,1.0,NaN,0.0,1.0,2.0,NaN

In [55]:
teams_2 = teams[['tmID', 'name']].copy()

In [56]:
teams_2.head()

    tmID                 name
727  BOS        Boston Bruins
728  BUF       Buffalo Sabres
729  CAL       Calgary Flames
730  CHI  Chicago Black Hawks
731  COR     Colorado Rockies

In [57]:
teams_2.drop_duplicates(inplace=True)

In [58]:
teams_2.value_counts()

tmID  name
ANA   Mighty Ducks of Anaheim    1
AND   Anaheim Ducks              1
ATL   Atlanta Thrashers          1
BOS   Boston Bruins              1
BUF   Buffalo Sabres             1
CAL   Calgary Flames             1
CAR   Carolina Hurricanes        1
CBS   Columbus Blue Jackets      1
CHI   Chicago Black Hawks        1
      Chicago Blackhawks         1
COL   Colorado Avalanche         1
COR   Colorado Rockies           1
DAL   Dallas Stars               1
DET   Detroit Red Wings          1
EDM   Edmonton Oilers            1
FLO   Florida Panthers           1
HAR   Hartford Whalers           1
LAK   Los Angeles Kings          1
MIN   Minnesota Wild             1
MNS   Minnesota North Stars      1
MTL   Montreal Canadiens         1
NAS   Nashville Predators        1
NJD   New Jersey Devils          1
NYI   New York Islanders         1
NYR   New York Rangers           1
OTT   Ottawa Senators            1
PHI   Philadelphia Flyers        1
PHO   Phoenix Coyotes            1
PIT   Pittsburgh Penguins        1
QUE   Quebec Nordiques           1
SJS   San Jose Sharks            1
STL   St. Louis Blues            1
TBL   Tampa Bay Lightning        1
TOR   Toronto Maple Leafs        1
VAN   Vancouver Canucks          1
WAS   Washington Capitals        1
WIN   Winnipeg Jets              1
WPG   Winnipeg Jets              1
Name: count, dtype: int64

In [61]:
teams_2 = teams_2.loc[teams_2['tmID'] == 'CHI']

In [63]:
teams_2.head()

    tmID                 name
730  CHI  Chicago Black Hawks
856  CHI   Chicago Blackhawks

In [64]:
team_splits_2 = team_splits.loc[team_splits['tmID'] == 'CHI'].sample(2)

In [65]:
team_splits_2.head()

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
856,1986,CHI,NaN,NaN,NaN,NaN,2.0,7.0,2.0,NaN,...,2.0,NaN,4.0,7.0,3.0,NaN,1.0,1.0,1.0,NaN
961,1991,CHI,NaN,NaN,NaN,NaN,6.0,5.0,3.0,NaN,...,3.0,NaN,9.0,3.0,2.0,NaN,0.0,2.0,0.0,NaN

In [66]:
pd.merge(teams_2, team_splits_2)

,tmID,name,year,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
0,CHI,Chicago Black Hawks,1986,NaN,NaN,NaN,NaN,2.0,7.0,2.0,...,2.0,NaN,4.0,7.0,3.0,NaN,1.0,1.0,1.0,NaN
1,CHI,Chicago Black Hawks,1991,NaN,NaN,NaN,NaN,6.0,5.0,3.0,...,3.0,NaN,9.0,3.0,2.0,NaN,0.0,2.0,0.0,NaN
2,CHI,Chicago Blackhawks,1986,NaN,NaN,NaN,NaN,2.0,7.0,2.0,...,2.0,NaN,4.0,7.0,3.0,NaN,1.0,1.0,1.0,NaN
3,CHI,Chicago Blackhawks,1991,NaN,NaN,NaN,NaN,6.0,5.0,3.0,...,3.0,NaN,9.0,3.0,2.0,NaN,0.0,2.0,0.0,NaN

In [68]:
pd.merge(team_splits, teams, left_on=['tmID', 'year'], right_on=['tmID', 'year']).head(4)

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1980,BOS,NaN,NaN,NaN,NaN,2.0,7.0,1.0,NaN,...,272,Boston Bruins,1836.0,26.0,87.0,342.0,8.0,82.0,358.0,13.0
1,1980,BUF,NaN,NaN,NaN,NaN,5.0,2.0,2.0,NaN,...,250,Buffalo Sabres,1194.0,22.0,73.0,310.0,10.0,44.0,268.0,9.0
2,1980,CAL,NaN,NaN,NaN,NaN,5.0,4.0,2.0,NaN,...,298,Calgary Flames,1450.0,24.0,81.0,301.0,12.0,70.0,364.0,8.0
3,1980,CHI,NaN,NaN,NaN,NaN,6.0,4.0,2.0,NaN,...,315,Chicago Black Hawks,1660.0,30.0,67.0,302.0,9.0,91.0,364.0,8.0

In [69]:
pd.merge(team_splits, teams, on=['tmID', 'year']).head(4)

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1980,BOS,NaN,NaN,NaN,NaN,2.0,7.0,1.0,NaN,...,272,Boston Bruins,1836.0,26.0,87.0,342.0,8.0,82.0,358.0,13.0
1,1980,BUF,NaN,NaN,NaN,NaN,5.0,2.0,2.0,NaN,...,250,Buffalo Sabres,1194.0,22.0,73.0,310.0,10.0,44.0,268.0,9.0
2,1980,CAL,NaN,NaN,NaN,NaN,5.0,4.0,2.0,NaN,...,298,Calgary Flames,1450.0,24.0,81.0,301.0,12.0,70.0,364.0,8.0
3,1980,CHI,NaN,NaN,NaN,NaN,6.0,4.0,2.0,NaN,...,315,Chicago Black Hawks,1660.0,30.0,67.0,302.0,9.0,91.0,364.0,8.0

In [70]:
merged = pd.merge(team_splits, teams, on=['tmID', 'year'])

In [71]:
merged.to_pickle(INTER / 'teams_team_splits_2.pkl')