In [1]:
import pandas as pd
import numpy as np
from helpers.mem import memory_mib

from set_paths import RA, INTER

In [7]:
scoring = pd.read_pickle(INTER / "master_score.pkl")
team_splits = pd.read_pickle(INTER / "teams_team_splits_2.pkl")

In [8]:
three_years = scoring.loc[(scoring['year'] > 2000) & (scoring['year'] < 2004)]

In [9]:
three_years.shape

(3296, 11)

In [10]:
three_years.columns

Index(['firstName', 'lastName', 'pos', 'playerID', 'year', 'tmID', 'GP', 'G',
       'A', 'Pts', 'SOG'],
      dtype='object')

In [11]:
three_years = three_years.drop_duplicates(subset=['playerID', 'year'])

In [15]:
three_years['playerID'].value_counts()

playerID
zyuzian01    3
zubruda01    3
adamscr01    3
adamske01    3
aebisda01    3
            ..
lilesjo01    1
lintnri01    1
aulinja01    1
babchan01    1
balejjo01    1
Name: count, Length: 1320, dtype: int64

In [16]:
counts = three_years['playerID'].value_counts()

In [18]:
counts.shape

(1320,)

In [20]:
index = counts.loc[counts == 3]
index

playerID
zyuzian01    3
zubruda01    3
adamscr01    3
adamske01    3
aebisda01    3
            ..
amontto01    3
allisja02    3
allenbr01    3
alfreda01    3
albelto01    3
Name: count, Length: 675, dtype: int64

In [32]:
index = counts.loc[counts == 3].sample(3).index
index

Index(['zyuzian01', 'dingmch01', 'vishnvi01'], dtype='object', name='playerID')

In [33]:
df_3 = three_years.loc[three_years['playerID'].isin(index)]
df_3

,firstName,lastName,pos,playerID,year,tmID,GP,G,A,Pts,SOG
5814,Chris,Dingman,L,dingmch01,2001,CAR,30.0,0.0,1.0,1.0,17.0
5816,Chris,Dingman,L,dingmch01,2002,TBL,51.0,2.0,1.0,3.0,41.0
5817,Chris,Dingman,L,dingmch01,2003,TBL,74.0,1.0,5.0,6.0,65.0
26870,Vitaly,Vishnevski,D,vishnvi01,2001,ANA,74.0,0.0,3.0,3.0,54.0
26871,Vitaly,Vishnevski,D,vishnvi01,2002,ANA,80.0,2.0,6.0,8.0,65.0
26872,Vitaly,Vishnevski,D,vishnvi01,2003,ANA,73.0,6.0,10.0,16.0,86.0
28608,Andrei,Zyuzin,D,zyuzian01,2001,TBL,9.0,0.0,2.0,2.0,14.0
28610,Andrei,Zyuzin,D,zyuzian01,2002,NJD,1.0,0.0,1.0,1.0,0.0
28612,Andrei,Zyuzin,D,zyuzian01,2003,MIN,65.0,8.0,13.0,21.0,104.0

In [34]:

basic_df_3 = df_3[['playerID', 'year', 'G']]
basic_df_3

        playerID  year    G
5814   dingmch01  2001  0.0
5816   dingmch01  2002  2.0
5817   dingmch01  2003  1.0
26870  vishnvi01  2001  0.0
26871  vishnvi01  2002  2.0
26872  vishnvi01  2003  6.0
28608  zyuzian01  2001  0.0
28610  zyuzian01  2002  0.0
28612  zyuzian01  2003  8.0

In [35]:
basic_df_3.pivot(index='playerID' , columns='year', values='G' )

year       2001  2002  2003
playerID
dingmch01   0.0   2.0   1.0
vishnvi01   0.0   2.0   6.0
zyuzian01   0.0   0.0   8.0

In [36]:
pivot = basic_df_3.pivot(index='playerID' , columns='year', values='G' )