In [2]:
import pandas as pd

from settings import INTERIM
from settings import INTERIM

In [3]:
team_splits = pd.read_pickle(INTERIM / 'team_splits_date_index.pkl')
scoring = pd.read_pickle(INTERIM / 'scoring_multi_index.pkl')

In [4]:
team_splits.head()

                     name    W    L    T  OL
month
1980-09-01  Boston Bruins  NaN  NaN  NaN NaN
1980-10-01  Boston Bruins  2.0  7.0  1.0 NaN
1980-11-01  Boston Bruins  5.0  3.0  5.0 NaN
1980-12-01  Boston Bruins  6.0  6.0  1.0 NaN
1980-01-01  Boston Bruins  9.0  4.0  1.0 NaN

In [6]:
ducks = team_splits.loc[team_splits['name'] == 'Anaheim Ducks']

In [7]:
ducks = ducks.sort_index()

In [9]:
ducks.resample('YE')[['W', 'L', 'T', 'OL']].sum()

               W     L    T    OL
month
2006-12-31  48.0  20.0  0.0  14.0
2007-12-31  47.0  27.0  0.0   8.0
2008-12-31  42.0  33.0  0.0   7.0
2009-12-31  39.0  32.0  0.0  11.0
2010-12-31  47.0  30.0  0.0   5.0
2011-12-31  34.0  36.0  0.0  12.0

In [11]:
ducks.resample('YE-JUN')[['W', 'L', 'T', 'OL']].sum()

               W     L    T    OL
month
2006-06-30  20.0  13.0  0.0   8.0
2007-06-30  56.0  17.0  0.0   9.0
2008-06-30  42.0  35.0  0.0   8.0
2009-06-30  42.0  30.0  0.0   8.0
2010-06-30  43.0  30.0  0.0   8.0
2011-06-30  44.0  32.0  0.0  10.0
2012-06-30  10.0  21.0  0.0   6.0