In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from jupyter_core.migrate import regex

from settings import RAW, INTERIM
# import seaborn as sns
from helpers.memory import memory_mib

In [2]:
# data_path = os.path.join('..', 'data', 'raw')

In [3]:


master = pd.read_csv(RAW /"Master.csv")

In [4]:
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7761 entries, 0 to 7760
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      7520 non-null   object
 1   coachID       395 non-null    object
 2   hofID         366 non-null    object
 3   firstName     7748 non-null   object
 4   lastName      7761 non-null   object
 5   nameNote      18 non-null     object
 6   nameGiven     5985 non-null   object
 7   nameNick      1306 non-null   object
 8   height        7334 non-null   float64
 9   weight        7336 non-null   float64
 10  shootCatch    7048 non-null   object
 11  legendsID     6577 non-null   object
 12  ihdbID        7125 non-null   float64
 13  hrefID        7457 non-null   object
 14  firstNHL      6851 non-null   float64
 15  lastNHL       6851 non-null   float64
 16  firstWHA      903 non-null    float64
 17  lastWHA       903 non-null    float64
 18  pos           7447 non-null   object
 19  birthYear     7543 non-null   float64
 20  birthMon      7506 non-null   float64
 21  birthDay      7504 non-null   float64
 22  birthCountry  7396 non-null   object
 23  birthState    6324 non-null   object
 24  birthCity     7388 non-null   object
 25  deathYear     1320 non-null   float64
 26  deathMon      1173 non-null   float64
 27  deathDay      1168 non-null   float64
 28  deathCountry  498 non-null    object
 29  deathState    471 non-null    object
 30  deathCity     483 non-null    object
dtypes: float64(13), object(18)
memory usage: 1.8+ MB

In [6]:
master.shape

(7761, 31)

In [7]:
(master['playerID']
 .pipe(pd.isnull)
 .value_counts(normalize=True))

playerID
False    0.968947
True     0.031053
Name: proportion, dtype: float64

In [8]:
pd.isnull(master['playerID']).value_counts()

playerID
False    7520
True      241
Name: count, dtype: int64

In [9]:
master_original = master.copy()

In [10]:
master.dropna(subset=['playerID'], inplace=True)

In [11]:
master.shape

(7520, 31)

In [12]:
(master['playerID']
 .pipe(pd.isnull)
 .value_counts())

playerID
False    7520
Name: count, dtype: int64

In [13]:
master.dropna(subset=['firstNHL', 'lastNHL'], how='all', inplace=True)

In [14]:
master.shape

(6851, 31)

In [15]:
master.dtypes

playerID         object
coachID          object
hofID            object
firstName        object
lastName         object
nameNote         object
nameGiven        object
nameNick         object
height          float64
weight          float64
shootCatch       object
legendsID        object
ihdbID          float64
hrefID           object
firstNHL        float64
lastNHL         float64
firstWHA        float64
lastWHA         float64
pos              object
birthYear       float64
birthMon        float64
birthDay        float64
birthCountry     object
birthState       object
birthCity        object
deathYear       float64
deathMon        float64
deathDay        float64
deathCountry     object
deathState       object
deathCity        object
dtype: object

In [16]:
master['lastNHL'].dtypes

dtype('float64')

In [17]:
master['lastNHL'].sample(n=10)

2691    2010.0
6260    1998.0
4067    1946.0
1788    1968.0
716     2011.0
1341    1956.0
5613    1980.0
19      1982.0
3129    1917.0
6479    1986.0
Name: lastNHL, dtype: float64

In [18]:
master.query('lastNHL >= 1980')

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
9,abidra01,NaN,NaN,Ramzi,Abid,NaN,NaN,NaN,74.0,210.0,...,24.0,Canada,QC,Montreal,NaN,NaN,NaN,NaN,NaN,NaN
11,abrahth01,NaN,NaN,Thommy,Abrahamsson,NaN,Thommy Ulf,NaN,74.0,185.0,...,12.0,Sweden,NaN,Leksand,NaN,NaN,NaN,NaN,NaN,NaN
14,actonke01,NaN,NaN,Keith,Acton,NaN,Keith Edward,Woody,68.0,170.0,...,15.0,Canada,ON,Stouffville,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7754,zubruda01,NaN,NaN,Dainius,Zubrus,NaN,Dainius,NaN,77.0,225.0,...,16.0,Lithuania,NaN,Elektrenai,NaN,NaN,NaN,NaN,NaN,NaN
7755,zuccama01,NaN,NaN,Mats,Zuccarello,NaN,NaN,NaN,67.0,174.0,...,1.0,Norway,NaN,Oslo,NaN,NaN,NaN,NaN,NaN,NaN
7756,zuckeja01,NaN,NaN,Jason,Zucker,NaN,NaN,NaN,71.0,174.0,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7757,zukemi01,NaN,NaN,Mike,Zuke,NaN,Michael Zuke,NaN,72.0,180.0,...,16.0,Canada,ON,Sault Ste. Marie,NaN,NaN,NaN,NaN,NaN,NaN
7760,zyuzian01,NaN,NaN,Andrei,Zyuzin,NaN,Andrei,NaN,73.0,208.0,...,21.0,Russia,NaN,Ufa,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
master = master.loc[master['lastNHL'] >= 1980]

In [20]:
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN
9,abidra01,NaN,NaN,Ramzi,Abid,NaN,NaN,NaN,74.0,210.0,...,24.0,Canada,QC,Montreal,NaN,NaN,NaN,NaN,NaN,NaN
11,abrahth01,NaN,NaN,Thommy,Abrahamsson,NaN,Thommy Ulf,NaN,74.0,185.0,...,12.0,Sweden,NaN,Leksand,NaN,NaN,NaN,NaN,NaN,NaN
14,actonke01,NaN,NaN,Keith,Acton,NaN,Keith Edward,Woody,68.0,170.0,...,15.0,Canada,ON,Stouffville,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
columns_to_keep = ["playerID", "firstName", "lastName",
                   "pos", "birthYear", "birthMon", "birthDay",
                   "birthCountry", "birthState", "birthCity"]

In [22]:
master[columns_to_keep].shape

(4627, 10)

[101 Regex](https://regex101.com/)

In [23]:
master.filter(regex='(playerID|pos|^birth) |(Name$)').shape

(4627, 2)

In [24]:
master = master[columns_to_keep]

In [25]:
master.memory_usage().sum()

np.int64(407176)

In [26]:
memory_mib(master)

' 1.80 MiB'

In [27]:
memory_mib(master_original)

' 6.82 MiB'

In [28]:
master.shape

(4627, 10)

In [29]:
master['pos'].value_counts()

pos
D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: count, dtype: int64

In [30]:
pd.Categorical(master['pos'])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

# !!!!

### Copy-On-Write

##### tak nie robimy

```python
master['pos'] = pd.Categorical(master['pos'])
```

In [31]:
master.loc['pos'] = pd.Categorical(master['pos'])

ValueError: cannot set a row with mismatched columns

In [41]:
master.dtypes

playerID          object
firstName         object
lastName          object
pos             category
birthYear        float64
birthMon         float64
birthDay         float64
birthCountry      object
birthState        object
birthCity         object
dtype: object

In [42]:
memory_mib(master)

' 1.58 MiB'

In [43]:
master.memory_usage()

Index           37016
playerID        37016
firstName       37016
lastName        37016
pos              4983
birthYear       37016
birthMon        37016
birthDay        37016
birthCountry    37016
birthState      37016
birthCity       37016
dtype: int64

In [ ]:
master.loc[:,'birthCountry'] = pd.Categorical(master['birthCountry'])
master.loc[:,'birthState'] = pd.Categorical(master['birthState'])

In [50]:
master.set_index('playerID', inplace=True)

In [51]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [52]:
master.dtypes

firstName         object
lastName          object
pos             category
birthYear        float64
birthMon         float64
birthDay         float64
birthCountry      object
birthState        object
birthCity         object
dtype: object

In [32]:
master.to_pickle(INTERIM / 'master.pkl')

---

In [73]:
scoring = pd.read_csv(RAW /"Scoring.csv")

In [35]:
memory_mib(scoring)

' 18.75 MiB'

In [36]:
scoring.shape

(45967, 31)

In [37]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [38]:
scoring.dtypes

playerID     object
year          int64
stint         int64
tmID         object
lgID         object
pos          object
GP          float64
G           float64
A           float64
Pts         float64
PIM         float64
+/-         float64
PPG         float64
PPA         float64
SHG         float64
SHA         float64
GWG         float64
GTG         float64
SOG         float64
PostGP      float64
PostG       float64
PostA       float64
PostPts     float64
PostPIM     float64
Post+/-     float64
PostPPG     float64
PostPPA     float64
PostSHG     float64
PostSHA     float64
PostGWG     float64
PostSOG     float64
dtype: object

In [39]:
scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45967 entries, 0 to 45966
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  45967 non-null  object
 1   year      45967 non-null  int64
 2   stint     45967 non-null  int64
 3   tmID      45967 non-null  object
 4   lgID      45967 non-null  object
 5   pos       45385 non-null  object
 6   GP        45699 non-null  float64
 7   G         45699 non-null  float64
 8   A         45699 non-null  float64
 9   Pts       45699 non-null  float64
 10  PIM       45699 non-null  float64
 11  +/-       36265 non-null  float64
 12  PPG       37748 non-null  float64
 13  PPA       23040 non-null  float64
 14  SHG       37744 non-null  float64
 15  SHA       23214 non-null  float64
 16  GWG       36567 non-null  float64
 17  GTG       28106 non-null  float64
 18  SOG       36364 non-null  float64
 19  PostGP    19153 non-null  float64
 20  PostG     19153 non-null  float64
 21  PostA     19094 non-null  float64
 22  PostPts   19094 non-null  float64
 23  PostPIM   19094 non-null  float64
 24  Post+/-   11004 non-null  float64
 25  PostPPG   14492 non-null  float64
 26  PostPPA   8854 non-null   float64
 27  PostSHG   14492 non-null  float64
 28  PostSHA   8855 non-null   float64
 29  PostGWG   15657 non-null  float64
 30  PostSOG   10392 non-null  float64
dtypes: float64(25), int64(2), object(4)
memory usage: 10.9+ MB

In [40]:
scoring.sample(n=10)

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
28918,mongemi01,1990,1,STL,NHL,C,7.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23492,leitebo01,1964,1,BOS,NHL,C,18.0,3.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21931,labrada01,1976,1,WIJ,WHA,L,64.0,24.0,27.0,51.0,...,17.0,24.0,15.0,8.0,NaN,NaN,NaN,NaN,1.0,NaN
16402,hebenan01,1960,1,NYR,NHL,R,70.0,26.0,28.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29130,morozal01,1998,1,PIT,NHL,R,67.0,9.0,10.0,19.0,...,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.0
36544,ruututu01,2007,1,CHI,NHL,L,60.0,6.0,15.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20992,kocida01,2008,1,TBL,NHL,L,33.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13193,gardnca01,1954,1,BOS,NHL,C,70.0,16.0,22.0,38.0,...,0.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6595,chornma01,1983,1,PIT,NHL,D,4.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17272,hodsoke01,1997,1,DET,NHL,G,21.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:

scoring_original = scoring.copy()

In [75]:
scoring = scoring.loc[(scoring['lgID'] == 'NHL') & (scoring['year'] >= 1980)]

In [76]:
scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]].columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SHG'], dtype='object')

In [77]:
scoring = scoring.filter(regex='^(?!Post|PP|SH).*')

AttributeError: 'Index' object has no attribute 'columns'

In [79]:
scoring = scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]]

In [80]:
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [81]:
scoring['tmID'].value_counts()

tmID
PIT    1166
NYR    1160
TOR    1159
LAK    1158
NYI    1155
BOS    1147
PHI    1133
CAL    1121
WAS    1120
EDM    1120
CHI    1114
STL    1107
VAN    1096
MTL    1082
BUF    1080
DET    1039
NJD     989
TBL     715
SJS     679
OTT     673
FLO     656
DAL     637
HAR     633
WIN     584
QUE     572
PHO     557
COL     548
MNS     507
CAR     464
NAS     463
CBS     423
ANA     422
ATL     410
MIN     384
AND     224
COR      81
WPG      38
Name: count, dtype: int64

In [82]:
scoring.loc[:, 'tmID'] =pd.Categorical(scoring['tmID'])

In [83]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [85]:
scoring.reset_index(drop=True).head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [86]:
scoring.reset_index(drop=True, inplace=True)

In [87]:
scoring.to_pickle(INTERIM / 'scoring.pkl')

---

In [93]:
teams = pd.read_csv(RAW /"Teams.csv")

In [94]:
teams.shape

(1519, 27)

In [95]:
teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [91]:
teams.sample(n=10)

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
1045,1994,NHL,OTT,OTT,EC,NE,7,NaN,48,9,...,174,Ottawa Senators,749.0,8.0,31.0,215.0,6.0,39.0,199.0,1.0
108,1922,PCHA,VAM,VMR,NaN,NaN,1,SCSF,30,17,...,88,Vancouver Maroons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,1972,NHL,PIT,PIT,NaN,WD,5,NaN,78,32,...,265,Pittsburgh Penguins,866.0,6.0,52.0,301.0,7.0,49.0,264.0,10.0
633,1976,NHL,PHI,PHI,CC,PT,1,SF,80,48,...,213,Philadelphia Flyers,1547.0,6.0,52.0,236.0,3.0,57.0,326.0,11.0
1175,1999,NHL,NAS,NAS,WC,CE,4,NaN,82,28,...,240,Nashville Predators,946.0,14.0,41.0,304.0,11.0,46.0,309.0,9.0
358,1953,NHL,TOR,TOR,NaN,NaN,3,SF,70,32,...,131,Toronto Maple Leafs,1022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,1990,NHL,STL,STL,CC,NO,2,DF,80,47,...,250,St. Louis Blues,1987.0,16.0,70.0,348.0,18.0,55.0,339.0,10.0
1512,2011,NHL,SJS,SJS,WC,PC,2,CQF,82,43,...,210,San Jose Sharks,785.0,18.0,57.0,270.0,4.0,52.0,225.0,3.0
257,1937,NHL,NYR,NYR,NaN,AM,2,QF,48,27,...,96,New York Rangers,445.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1939,NHL,NYR,NYR,NaN,NaN,2,SC,48,27,...,77,New York Rangers,510.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
teams.loc[(teams['lgID'] == 'NHL') & (teams['year'] >= 1980)].shape

(792, 27)

In [97]:
teams.query("lgID == 'NHL' and year >= 1980").shape

(792, 27)

In [98]:
teams = teams.loc[(teams['lgID'] == 'NHL') & (teams['year'] >= 1980)]

In [100]:
teams.nunique()

year           31
lgID            1
tmID           37
franchID       30
confID          4
divID          10
rank            7
playoff        10
G               4
W              49
L              50
T              20
OTL            18
Pts            91
SoW            15
SoL            12
GF            214
GA            219
name           37
PIM           603
BenchMinor     23
PPG            85
PPC           245
SHA            22
PKG            85
PKC           250
SHF            28
dtype: int64

In [101]:
teams.loc[:,'tmID'] = pd.Categorical(teams['tmID'])

In [102]:
teams.to_pickle(INTERIM / 'teams.pkl')

In [104]:
teams_splits = pd.read_csv(RAW /"TeamSplits.csv")

In [105]:
teams_splits.sample(n=10)

,year,lgID,tmID,hW,hL,hT,hOTL,rW,rL,rT,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
214,1932,NHL,NYR,12,7,5.0,NaN,11,10,3.0,...,3.0,NaN,3.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN
77,1918,PCHA,VML,6,4,0.0,NaN,6,4,0.0,...,0.0,NaN,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
104,1922,NHL,MTL,10,2,0.0,NaN,3,7,2.0,...,0.0,NaN,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1092,1996,NHL,HAR,23,15,3.0,NaN,9,24,8.0,...,2.0,NaN,5.0,7.0,1.0,NaN,3.0,3.0,1.0,NaN
994,1992,NHL,PHI,23,14,5.0,NaN,13,23,6.0,...,4.0,NaN,6.0,6.0,0.0,NaN,8.0,1.0,0.0,NaN
466,1969,NHL,MTL,21,9,8.0,NaN,17,13,8.0,...,2.0,NaN,6.0,4.0,3.0,NaN,1.0,2.0,0.0,NaN
575,1974,WHA,CHC,18,20,1.0,NaN,12,27,0.0,...,0.0,NaN,3.0,11.0,0.0,NaN,2.0,1.0,0.0,NaN
1044,1994,NHL,NYR,11,10,3.0,NaN,11,13,0.0,...,3.0,NaN,4.0,8.0,0.0,NaN,9.0,6.0,0.0,NaN
677,1977,WHA,SOV,0,0,0.0,NaN,3,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1921,PCHA,VA2,6,5,1.0,NaN,5,7,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
teams_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [107]:
teams_splits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    1519 non-null   int64
 1   lgID    1519 non-null   object
 2   tmID    1519 non-null   object
 3   hW      1519 non-null   int64
 4   hL      1519 non-null   int64
 5   hT      1309 non-null   float64
 6   hOTL    358 non-null    float64
 7   rW      1519 non-null   int64
 8   rL      1519 non-null   int64
 9   rT      1309 non-null   float64
 10  rOTL    358 non-null    float64
 11  SepW    2 non-null      float64
 12  SepL    2 non-null      float64
 13  SepT    0 non-null      float64
 14  SepOL   2 non-null      float64
 15  OctW    1199 non-null   float64
 16  OctL    1199 non-null   float64
 17  OctT    989 non-null    float64
 18  OctOL   358 non-null    float64
 19  NovW    1358 non-null   float64
 20  NovL    1358 non-null   float64
 21  NovT    1148 non-null   float64
 22  NovOL   358 non-null    float64
 23  DecW    1473 non-null   float64
 24  DecL    1473 non-null   float64
 25  DecT    1263 non-null   float64
 26  DecOL   358 non-null    float64
 27  JanW    1515 non-null   float64
 28  JanL    1515 non-null   float64
 29  JanT    1305 non-null   float64
 30  JanOL   358 non-null    float64
 31  FebW    1510 non-null   float64
 32  FebL    1510 non-null   float64
 33  FebT    1300 non-null   float64
 34  FebOL   358 non-null    float64
 35  MarW    1485 non-null   float64
 36  MarL    1485 non-null   float64
 37  MarT    1275 non-null   float64
 38  MarOL   358 non-null    float64
 39  AprW    1018 non-null   float64
 40  AprL    1018 non-null   float64
 41  AprT    808 non-null    float64
 42  AprOL   358 non-null    float64
dtypes: float64(36), int64(5), object(2)
memory usage: 510.4+ KB

In [108]:
team_splits = teams_splits.loc[(teams_splits['lgID'] == 'NHL') & (teams_splits['year'] >= 1980)]

In [109]:
cols_to_drop = team_splits.columns[3:11]
teams_splits.drop(columns=cols_to_drop, inplace=True)

In [110]:
teams_splits.drop(columns='lgID', inplace=True)

In [111]:
teams_splits.loc[:,'tmID'] = pd.Categorical(teams_splits['tmID'])

In [112]:
teams_splits.to_pickle(INTERIM / 'teams_splits.pkl')