In [33]:
import pandas as pd
import numpy as np
from helpers.mem import memory_mib

from set_paths import RA

In [2]:


master = pd.read_csv(RA /'Master.csv')

In [3]:
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
master.shape

(7761, 31)

In [5]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [6]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7761 entries, 0 to 7760
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      7520 non-null   object
 1   coachID       395 non-null    object
 2   hofID         366 non-null    object
 3   firstName     7748 non-null   object
 4   lastName      7761 non-null   object
 5   nameNote      18 non-null     object
 6   nameGiven     5985 non-null   object
 7   nameNick      1306 non-null   object
 8   height        7334 non-null   float64
 9   weight        7336 non-null   float64
 10  shootCatch    7048 non-null   object
 11  legendsID     6577 non-null   object
 12  ihdbID        7125 non-null   float64
 13  hrefID        7457 non-null   object
 14  firstNHL      6851 non-null   float64
 15  lastNHL       6851 non-null   float64
 16  firstWHA      903 non-null    float64
 17  lastWHA       903 non-null    float64
 18  pos           7447 non-null   object
 19  birthYear     7543 non-null   float64
 20  birthMon      7506 non-null   float64
 21  birthDay      7504 non-null   float64
 22  birthCountry  7396 non-null   object
 23  birthState    6324 non-null   object
 24  birthCity     7388 non-null   object
 25  deathYear     1320 non-null   float64
 26  deathMon      1173 non-null   float64
 27  deathDay      1168 non-null   float64
 28  deathCountry  498 non-null    object
 29  deathState    471 non-null    object
 30  deathCity     483 non-null    object
dtypes: float64(13), object(18)
memory usage: 1.8+ MB

In [7]:
master['hofID'].notnull().sum()

np.int64(366)

In [8]:
master['hofID'].isnull().sum()

np.int64(7395)

In [9]:
master['lastName'].value_counts(normalize=True, sort=True)

lastName
Smith        0.008891
Brown        0.004123
Wilson       0.003994
Johnson      0.003479
Murray       0.003350
               ...
Zinger       0.000129
Zimmerman    0.000129
Zigomanis    0.000129
Adamik       0.000129
Adair        0.000129
Name: proportion, Length: 5075, dtype: float64

In [10]:
master['playerID'].isnull().sum()

np.int64(241)

In [11]:
(master['playerID']
.pipe(pd.isnull)
.value_counts())

playerID
False    7520
True      241
Name: count, dtype: int64

In [12]:
(master['playerID']
.pipe(pd.isnull)
.value_counts(normalize=True))

playerID
False    0.968947
True     0.031053
Name: proportion, dtype: float64

In [13]:
master_original = master.copy()

In [14]:
master.dropna(subset=['playerID'], inplace=True)

In [15]:
master.shape

(7520, 31)

In [16]:
(master['playerID']
.pipe(pd.isnull)
.value_counts())

playerID
False    7520
Name: count, dtype: int64

In [17]:
master.dropna(subset=['firstNHL', 'lastNHL'], how='all', inplace=True)

In [18]:
master.shape

(6851, 31)

In [19]:
master['lastNHL'].dtypes

dtype('float64')

In [20]:
master = master.loc[master['lastNHL'] >= 1980]

In [21]:
columns_to_keep = ["playerID", "firstName", "lastName",
                   "pos", "birthYear", "birthMon", "birthDay",
                   "birthCountry", "birthState", "birthCity"]

In [22]:
master[columns_to_keep].shape

(4627, 10)

In [23]:
master[["playerID", "firstName"]]

       playerID firstName
0     aaltoan01     Antti
4     abdelju01    Justin
9      abidra01     Ramzi
11    abrahth01    Thommy
14    actonke01     Keith
...         ...       ...
7754  zubruda01   Dainius
7755  zuccama01      Mats
7756  zuckeja01     Jason
7757   zukemi01      Mike
7760  zyuzian01    Andrei

[4627 rows x 2 columns]

In [24]:
master[["firstName", "playerID"]]

     firstName   playerID
0        Antti  aaltoan01
4       Justin  abdelju01
9        Ramzi   abidra01
11      Thommy  abrahth01
14       Keith  actonke01
...        ...        ...
7754   Dainius  zubruda01
7755      Mats  zuccama01
7756     Jason  zuckeja01
7757      Mike   zukemi01
7760    Andrei  zyuzian01

[4627 rows x 2 columns]

[regex101](https://regex101.com/)

### to regular expressions

In [25]:
master.filter(regex='(playerID|pos|^birth)|(Name$)').shape

(4627, 10)

In [26]:
master.filter(regex='playerID|pos|^birth|Name$').shape

(4627, 10)

In [27]:
master = master[columns_to_keep]

In [29]:
master.shape

(4627, 10)

In [30]:
master.head(2)

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon

In [32]:
master.memory_usage().sum()

np.int64(407176)

In [34]:
memory_mib(master)

'0.39 MiB'

In [35]:
memory_mib(master_original)

'1.84 MiB'

In [36]:
master.shape

(4627, 10)

In [37]:
master['pos'].value_counts()

pos
D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: count, dtype: int64

In [38]:
pd.Categorical(master['pos'])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [43]:
master.loc[:, 'pos'] = pd.Categorical(master['pos'])

In [44]:
master.dtypes

playerID         object
firstName        object
lastName         object
pos              object
birthYear       float64
birthMon        float64
birthDay        float64
birthCountry     object
birthState       object
birthCity        object
dtype: object