In [28]:
import pandas as pd
import numpy as np
from helpers.mem import memory_mib

from set_paths import RA, INTER

In [2]:


master = pd.read_csv(RA /'Master.csv')

In [3]:
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
master.shape

(7761, 31)

In [5]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [6]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7761 entries, 0 to 7760
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      7520 non-null   object
 1   coachID       395 non-null    object
 2   hofID         366 non-null    object
 3   firstName     7748 non-null   object
 4   lastName      7761 non-null   object
 5   nameNote      18 non-null     object
 6   nameGiven     5985 non-null   object
 7   nameNick      1306 non-null   object
 8   height        7334 non-null   float64
 9   weight        7336 non-null   float64
 10  shootCatch    7048 non-null   object
 11  legendsID     6577 non-null   object
 12  ihdbID        7125 non-null   float64
 13  hrefID        7457 non-null   object
 14  firstNHL      6851 non-null   float64
 15  lastNHL       6851 non-null   float64
 16  firstWHA      903 non-null    float64
 17  lastWHA       903 non-null    float64
 18  pos           7447 non-null   object
 19  birthYear     7543 non-null   float64
 20  birthMon      7506 non-null   float64
 21  birthDay      7504 non-null   float64
 22  birthCountry  7396 non-null   object
 23  birthState    6324 non-null   object
 24  birthCity     7388 non-null   object
 25  deathYear     1320 non-null   float64
 26  deathMon      1173 non-null   float64
 27  deathDay      1168 non-null   float64
 28  deathCountry  498 non-null    object
 29  deathState    471 non-null    object
 30  deathCity     483 non-null    object
dtypes: float64(13), object(18)
memory usage: 1.8+ MB

In [7]:
master['hofID'].notnull().sum()

np.int64(366)

In [8]:
master['hofID'].isnull().sum()

np.int64(7395)

In [9]:
master['lastName'].value_counts(normalize=True, sort=True)

lastName
Smith        0.008891
Brown        0.004123
Wilson       0.003994
Johnson      0.003479
Murray       0.003350
               ...
Zinger       0.000129
Zimmerman    0.000129
Zigomanis    0.000129
Adamik       0.000129
Adair        0.000129
Name: proportion, Length: 5075, dtype: float64

In [10]:
master['playerID'].isnull().sum()

np.int64(241)

In [11]:
(master['playerID']
.pipe(pd.isnull)
.value_counts())

playerID
False    7520
True      241
Name: count, dtype: int64

In [12]:
(master['playerID']
.pipe(pd.isnull)
.value_counts(normalize=True))

playerID
False    0.968947
True     0.031053
Name: proportion, dtype: float64

In [3]:
master_original = master.copy()

In [4]:
master.dropna(subset=['playerID'], inplace=True)

In [15]:
master.shape

(7520, 31)

In [16]:
(master['playerID']
.pipe(pd.isnull)
.value_counts())

playerID
False    7520
Name: count, dtype: int64

In [5]:
master.dropna(subset=['firstNHL', 'lastNHL'], how='all', inplace=True)

In [18]:
master.shape

(6851, 31)

In [19]:
master['lastNHL'].dtypes

dtype('float64')

In [6]:
master = master.loc[master['lastNHL'] >= 1980]

In [7]:
columns_to_keep = ["playerID", "firstName", "lastName",
                   "pos", "birthYear", "birthMon", "birthDay",
                   "birthCountry", "birthState", "birthCity"]

In [22]:
master[columns_to_keep].shape

(4627, 10)

In [23]:
master[["playerID", "firstName"]]

       playerID firstName
0     aaltoan01     Antti
4     abdelju01    Justin
9      abidra01     Ramzi
11    abrahth01    Thommy
14    actonke01     Keith
...         ...       ...
7754  zubruda01   Dainius
7755  zuccama01      Mats
7756  zuckeja01     Jason
7757   zukemi01      Mike
7760  zyuzian01    Andrei

[4627 rows x 2 columns]

In [24]:
master[["firstName", "playerID"]]

     firstName   playerID
0        Antti  aaltoan01
4       Justin  abdelju01
9        Ramzi   abidra01
11      Thommy  abrahth01
14       Keith  actonke01
...        ...        ...
7754   Dainius  zubruda01
7755      Mats  zuccama01
7756     Jason  zuckeja01
7757      Mike   zukemi01
7760    Andrei  zyuzian01

[4627 rows x 2 columns]

[regex101](https://regex101.com/)

### to regular expressions

In [25]:
master.filter(regex='(playerID|pos|^birth)|(Name$)').shape

(4627, 10)

In [26]:
master.filter(regex='playerID|pos|^birth|Name$').shape

(4627, 10)

In [8]:
master = master[columns_to_keep]

In [29]:
master.shape

(4627, 10)

In [30]:
master.head(2)

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon

In [32]:
master.memory_usage().sum()

np.int64(407176)

In [9]:
memory_mib(master)

'0.39 MiB'

In [10]:
memory_mib(master_original)

'1.84 MiB'

In [36]:
master.shape

(4627, 10)

In [11]:
master['pos'].value_counts()

pos
D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: count, dtype: int64

In [38]:
pd.Categorical(master['pos'])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [12]:
master.loc[:, 'pos'] = pd.Categorical(master['pos'])

In [14]:
master['pos'] = pd.Categorical(master['pos'])

In [15]:
master.dtypes

playerID          object
firstName         object
lastName          object
pos             category
birthYear        float64
birthMon         float64
birthDay         float64
birthCountry      object
birthState        object
birthCity         object
dtype: object

In [19]:
master['pos'].info

<bound method Series.info of 0       C
4       L
9       L
11      D
14      C
       ..
7754    R
7755    L
7756    L
7757    C
7760    D
Name: pos, Length: 4627, dtype: category
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']>

In [20]:
memory_mib(master)

'0.36 MiB'

In [21]:
master.memory_usage()

Index           37016
playerID        37016
firstName       37016
lastName        37016
pos              4983
birthYear       37016
birthMon        37016
birthDay        37016
birthCountry    37016
birthState      37016
birthCity       37016
dtype: int64

In [22]:
master['birthCountry'] = pd.Categorical(master['birthCountry'])
master['birthState'] = pd.Categorical(master['birthState'])

In [23]:
master.dtypes

playerID          object
firstName         object
lastName          object
pos             category
birthYear        float64
birthMon         float64
birthDay         float64
birthCountry    category
birthState      category
birthCity         object
dtype: object

In [24]:
master.set_index('playerID', inplace=True)

In [25]:
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [26]:
master.columns

Index(['firstName', 'lastName', 'pos', 'birthYear', 'birthMon', 'birthDay',
       'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [27]:
master.dtypes

firstName         object
lastName          object
pos             category
birthYear        float64
birthMon         float64
birthDay         float64
birthCountry    category
birthState      category
birthCity         object
dtype: object

In [29]:
master.to_pickle(INTER / 'master_2.pkl')

---

In [48]:
scoring = pd.read_csv(RA/'Scoring.csv')

In [49]:
memory_mib(scoring)

'10.87 MiB'

In [32]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [33]:
scoring.dtypes

playerID     object
year          int64
stint         int64
tmID         object
lgID         object
pos          object
GP          float64
G           float64
A           float64
Pts         float64
PIM         float64
+/-         float64
PPG         float64
PPA         float64
SHG         float64
SHA         float64
GWG         float64
GTG         float64
SOG         float64
PostGP      float64
PostG       float64
PostA       float64
PostPts     float64
PostPIM     float64
Post+/-     float64
PostPPG     float64
PostPPA     float64
PostSHG     float64
PostSHA     float64
PostGWG     float64
PostSOG     float64
dtype: object

In [34]:
scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45967 entries, 0 to 45966
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  45967 non-null  object
 1   year      45967 non-null  int64
 2   stint     45967 non-null  int64
 3   tmID      45967 non-null  object
 4   lgID      45967 non-null  object
 5   pos       45385 non-null  object
 6   GP        45699 non-null  float64
 7   G         45699 non-null  float64
 8   A         45699 non-null  float64
 9   Pts       45699 non-null  float64
 10  PIM       45699 non-null  float64
 11  +/-       36265 non-null  float64
 12  PPG       37748 non-null  float64
 13  PPA       23040 non-null  float64
 14  SHG       37744 non-null  float64
 15  SHA       23214 non-null  float64
 16  GWG       36567 non-null  float64
 17  GTG       28106 non-null  float64
 18  SOG       36364 non-null  float64
 19  PostGP    19153 non-null  float64
 20  PostG     19153 non-null  float64
 21  PostA     19094 non-null  float64
 22  PostPts   19094 non-null  float64
 23  PostPIM   19094 non-null  float64
 24  Post+/-   11004 non-null  float64
 25  PostPPG   14492 non-null  float64
 26  PostPPA   8854 non-null   float64
 27  PostSHG   14492 non-null  float64
 28  PostSHA   8855 non-null   float64
 29  PostGWG   15657 non-null  float64
 30  PostSOG   10392 non-null  float64
dtypes: float64(25), int64(2), object(4)
memory usage: 10.9+ MB

In [37]:
scoring.loc[(scoring['lgID']=='NHL') & (scoring['year'] >= 1980)].shape

(28616, 31)

In [50]:
scoring_original = scoring.copy()

In [39]:
scoring.query("lgID == 'NHL' and year >= 1980").shape

(28616, 31)

In [51]:
scoring = scoring.loc[(scoring['lgID']=='NHL') & (scoring['year'] >= 1980)]

In [41]:
scoring.shape

(28616, 31)

In [52]:
scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]].columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SHG'], dtype='object')

In [53]:
scoring.filter(regex='^(?!(Post|PP|SH))').columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [54]:
scoring.filter(regex='^(?!(Post|PP|SH)).*').columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [55]:
scoring.filter(regex='^(Post|PP|SH)').columns

Index(['PPG', 'PPA', 'SHG', 'SHA', 'PostGP', 'PostG', 'PostA', 'PostPts',
       'PostPIM', 'Post+/-', 'PostPPG', 'PostPPA', 'PostSHG', 'PostSHA',
       'PostGWG', 'PostSOG'],
      dtype='object')

In [56]:
scoring = scoring.filter(regex='^(?!(Post|PP|SH)).*')

In [58]:
scoring = scoring.iloc[:, [0, 1, 3, 6, 7, 8, 9, 14]]
scoring.columns

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [60]:
scoring['tmID'].value_counts(sort=True)

tmID
PIT    1166
NYR    1160
TOR    1159
LAK    1158
NYI    1155
BOS    1147
PHI    1133
CAL    1121
WAS    1120
EDM    1120
CHI    1114
STL    1107
VAN    1096
MTL    1082
BUF    1080
DET    1039
NJD     989
TBL     715
SJS     679
OTT     673
FLO     656
DAL     637
HAR     633
WIN     584
QUE     572
PHO     557
COL     548
MNS     507
CAR     464
NAS     463
CBS     423
ANA     422
ATL     410
MIN     384
AND     224
COR      81
WPG      38
Name: count, dtype: int64

In [61]:
scoring.loc[:, 'tmID'] = pd.Categorical(scoring['tmID'])

In [64]:
# master['pos'] = pd.Categorical(master['pos'])
scoring['pos'] = pd.Categorical(scoring['tmID'])

In [65]:
memory_mib(scoring)

'1.99 MiB'

In [66]:
scoring.dtypes

playerID      object
year           int64
tmID          object
GP           float64
G            float64
A            float64
Pts          float64
SOG          float64
pos         category
dtype: object

In [67]:
scoring.reset_index().head()

   index   playerID  year tmID    GP    G     A   Pts    SOG  pos
0      0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
1      1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
2      2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
3      3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
4      7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [68]:
scoring.reset_index(drop=True, inplace=True)

In [69]:
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG  pos
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0  ANA
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0  ANA
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0  ANA
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0  ANA
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0  DET

In [70]:
scoring.to_pickle(INTER / 'scoring_2.pkl')

---

### nwsinwpcwpi

In [71]:
teams = pd.read_csv(RA / 'Teams.csv')

In [72]:
teams.head(1)

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1909,NHA,COB,BKN,NaN,NaN,4,NaN,12,4,...,104,Cobalt Silver Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
teams.loc[(teams['lgID']=='NHL') & (teams['year'] >= 1980)].shape

(792, 27)

In [75]:
teams = teams.query("lgID == 'NHL' and year >= 1980")

In [76]:
teams.nunique()

year           31
lgID            1
tmID           37
franchID       30
confID          4
divID          10
rank            7
playoff        10
G               4
W              49
L              50
T              20
OTL            18
Pts            91
SoW            15
SoL            12
GF            214
GA            219
name           37
PIM           603
BenchMinor     23
PPG            85
PPC           245
SHA            22
PKG            85
PKC           250
SHF            28
dtype: int64

In [77]:
teams.loc[:,'tmID'] = pd.Categorical(teams['tmID'])

In [79]:
teams['tmID'].info()

<class 'pandas.core.series.Series'>
Index: 792 entries, 727 to 1518
Series name: tmID
Non-Null Count  Dtype
--------------  -----
792 non-null    object
dtypes: object(1)
memory usage: 12.4+ KB

In [80]:
teams.to_pickle(INTER / 'teams_2.pkl')

---

In [83]:
team_splits = pd.read_csv(RA / 'TeamSplits.csv')

In [84]:
team_splits.head(1)

,year,lgID,tmID,hW,hL,hT,hOTL,rW,rL,rT,...,FebT,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL
0,1909,NHA,COB,2,4,0.0,NaN,2,4,0.0,...,0.0,NaN,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN

In [86]:
team_splits = team_splits.loc[(team_splits['lgID'] == 'NHL') & (team_splits['year'] >= 1980)]

In [87]:
cols_to_drop = team_splits.columns[3:11]
team_splits.drop(columns=cols_to_drop, inplace=True)

In [88]:
team_splits.drop(columns='lgID', inplace=True)

In [89]:
team_splits.loc[:, 'tmID'] = pd.Categorical(team_splits['tmID'])

In [90]:
team_splits.to_pickle(INTER / 'team_splits_2.pkl')